body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.section.visible{
    opacity: 1;
    transform: translateY(0);
}

header{
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: beige;
    padding: 20px 10px;
    margin-bottom: 10px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 50;
    box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.747);
}
.hamburger{
    font-size: 30px;
    background-color: rgb(255, 136, 0);
    padding: 5px;
    border-radius: 10px;
    color: white;
    display: none;
}
nav{
    align-items: center;
}
header a img{
    height: 30px;
}
nav a{
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
}

.navigations a{
    justify-content: space-between;
    margin-left: 20px;
    color: black;
    transition: .4s;
}
.navigations a:hover{
    color: rgb(255, 136, 0);
}
#contact-nav{
    color: rgb(182, 97, 0);
    padding: 10px;
    border: 3px solid rgb(182, 97, 0);
    border-radius: 10px;
    transition: .3s;
}
#contact-nav:hover{
    background-color: rgb(255, 136, 0);
    color: rgb(0, 83, 0);
}

.hero{
    text-align: center;
    padding: 70px;
    background-image:linear-gradient( #181818cb, #181818a9, #3333337a, #000000d2), url(../images/Maldives2\ copy.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-content: center;
    
}
.hero h1{
    font-size: 50px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.hero p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 25% 10px 25%;
}

.contact{
    margin: 20px;
    margin-bottom: 50px;
}
.contact h2{
    margin-top: 40px;
    color: rgb(255, 136, 0);
    font-size: 35px;
}
.contact p{
    font-size: 17px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.address{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 30px;
    border: 2px solid rgb(255, 136, 0);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(105, 105, 105, 0.479);
}
.address h2{
    font-size: 25px;
    color: rgb(255, 136, 0);
    margin-bottom: 30px;
}
.address p{
    font-size: 15px;
    line-height: 30px;
}

.contact-form {
    margin: 20px;
    
}
.contact-form h2{
    text-align: center;
    margin-top: 40px;
    color: rgb(255, 136, 0);
    font-size: 35px;
}
.contact-form p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 25px;
}
.contact-form form{
    text-align: center;
    padding: 30px;
}
.contact-form form label{
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.contact-form form input{
    font-size: 17px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px 25px;
    border: 2px solid rgb(255, 136, 0);
    margin-bottom: 15px;
}
.contact-form form textarea{
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px 25px;
    border: 2px solid rgb(255, 136, 0);
    margin-bottom: 15px;
    width: 40%;
    height: 20vh;
}
.contact-form form button{
    padding: 10px 15px;
    border: none;
    background-color: rgb(255, 136, 0);
    border-radius: 30px;
    font-size: 17px;
    color: white;
    transition: .3s ease;
}
.contact-form form button:hover{
    padding: 12px 18px;
    box-shadow: 2px 3px 5px grey;
}
.social-media{
    margin: 20px;
    text-align: left;
}
.social-media h2{
    font-size: 25px;
    color: rgb(255, 136, 0);
    margin-bottom: 30px;
}
.social-media p{
    font-size: 16px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
}


.links1{
    display: block;
    margin: 20px 30% ;
    padding: 20px 30px;
    background-color: rgb(25, 0, 255);
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    transition: 0.3s ;
}
.links2{
    display: block;
    margin: 20px 30% ;
    padding: 10px 30px;
    background: linear-gradient( to right, rgb(255, 0, 0), rgb(252, 134, 0), rgb(247, 2, 255) ) ;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    transition: 0.3s ;
}
.links3{
    display: block;
    margin: 20px 30% ;
    padding: 20px 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    transition: 0.3s ;
}
.links4{
    display: block;
    margin: 20px 30% ;
    padding: 10px 30px;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(5, 100, 117), rgb(245, 36, 36));
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    transition: 0.3s ;
}

.links:hover{
    padding: 15px 35px;
}

.offer{
    text-align: center;
}
.offer h2{
    margin-bottom: 40px;
    color: rgb(255, 136, 0);
    font-size: 28px;
}

.about-lists{
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.about-lists ul{
    list-style: none;
    margin-right: 50px;
    text-align: left;
}
.about-lists ul li{
    color: black;
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-lists ul li .fa-solid{
    padding-right: 10px ;
    color: rgb(255, 136, 0);
}

.contactUs{
    height: 50vh;
    background-image: linear-gradient( #4141417e, #52525273, #33333342, #744322d2), url(../images/flight-booking.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px;
    padding: 20px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}
.contactUs h2{
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    color: white;
}
.contactUs p{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Gill Sans,' 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 15%;
    color: white;
}
.contactUs a{
    padding: 10px 15px;
    color:  white;
    text-decoration: none;
    background-color: rgb(245, 110, 0);
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    transition: .3s;
}
.contactUs a:hover{
    padding: 12px 17px;
    
}

.footer{
    background-color: rgb(0, 29, 0);
    padding: 30px;
    color: white;
}
footer{
    display: flex;
    height: 50vh;
    justify-content:space-between ;
}
.logo-div{
    font-size: 15px;
    max-width: 25%;
}
.logo-div img{
    height: 80px;
    margin-bottom: 30px;
}
.logo-div p{
    font-size: 15px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo-div a{
    text-decoration: none;
}
.logo-div .fa-brands{
    font-size: 20px;
    padding-right: 10px;
    color: rgb(245, 110, 0);
}
footer h4{
    font-size: 20px;
}
footer a{
    text-decoration: none;
    transition: .3s;
}
footer a:hover{
    color: rgb(170, 77, 0);
}
.quick-links p{
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quick-links a{
    color: rgb(245, 110, 0);
}
.services-section a{
    color: rgb(245, 110, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.address-section p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#copyright{
    text-align: center;
    font-size: 13px;
}









@media screen and (max-width: 800px){
    .hamburger{
        height: 40px;
        font-size: 30px;
        background-color: rgb(255, 136, 0);
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        display: block;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: .4s ease;
    }
    .hamburger:hover{
        color: rgb(248, 186, 116);
    }
    .nav.visible{
        height: 250px;
    }
    .nav{
        height: 0;
        overflow: hidden;
        /* display: none; */
        text-align: center;
        justify-content: center;
        background-color: transparent;
        margin: 20px;
        align-items: center;
        transition: height .5s ease-in-out;
    }
    header a img{
        height: 30px;
       
    }
    nav a{
        display: block;
        font-size: 17px;
        text-decoration: none;
        font-weight: bold;
    }
    .navigations{
        text-align: center;
        
    }
    .navigations a{
        justify-content: space-between;
        margin-left: 20px;
        color: black;
        margin-bottom: 30px;
        transition: .4s;
    }
    .navigations a:hover{
        color: rgb(255, 136, 0);
    }
    #contact-nav{
        color: rgb(255, 136, 0);
        padding: 10px;
        border: 3px solid rgb(255, 136, 0);;
        border-radius: 10px;
        transition: .3s;
    }
    #contact-nav:hover{
        background-color: rgb(255, 136, 0);
        color: rgb(0, 83, 0);
    }
    .hero{
        padding: 40px;
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .hero h1{
        font-size: 40px;
    }
    .hero p{
        padding: 0px;
        font-size: 15px;
    }
    .contact h2{
        margin-top: 40px;
        color: rgb(255, 136, 0);
        font-size: 30px;
    }
    .contact p{
        font-size: 15px;
        line-height: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .address{
        height: auto;
        display: block;
        justify-content: space-around;
        margin: 20px;
        padding: 30px;
        border: 2px solid rgb(255, 136, 0);
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(105, 105, 105, 0.479);
    }
    .address div{
        margin-bottom: 50px;
    }

    .contact-form h2{
        text-align: left;
        margin-top: 40px;
        color: rgb(255, 136, 0);
        font-size: 35px;
    }
    .contact-form p{
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        line-height: 25px;
    }
    .contact-form form{
        text-align: left;
        padding: 30px;
    }
    .contact-form form label{
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
    }
    .contact-form form input{
        font-size: 17px;
        border-radius: 5px;
        margin-top: 10px;
        padding: 15px 25px;
        border: 2px solid rgb(255, 136, 0);
        margin-bottom: 15px;
    }
    .contact-form form textarea{
        border-radius: 5px;
        margin-top: 10px;
        padding: 15px 25px;
        border: 2px solid rgb(255, 136, 0);
        margin-bottom: 15px;
        width: 60%;
        height: 20vh;
    }
    .about-lists{
        display: block;
        margin-top: 20px;
        text-align: center;
    }
    .about-lists ul{
        list-style: none;
        margin-right: 50px;
        text-align: center;
    }
    .about-lists ul li{
        padding-bottom: 30px;
        font-weight: 300;
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .about-lists ul li .fa-solid{
        padding-right: 10px ;
        color: rgb(255, 136, 0);
    }

    .contactUs h2{
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 1000;
        color: white;
    }
    .contactUs p{
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px 10px;
        color: white;
    }
    .footer{
        text-align: center;
        background-color: rgb(0, 29, 0);
        padding: 80px 30px 30px 30px;
        color: white;
    }
    footer{
        display: block;
        height: auto;
        justify-content: center ;
    }
    .logo-div{
        font-size: 15px;
        max-width: 100%;
    }
    .logo-div img{
        height: 80px;
        margin-bottom: 30px;
    }
    
    .logo-div p{
        font-size: 14px;
        margin-bottom: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
    }
    #copyright{
        text-align: center;
        font-size: 13px;
        margin-top: 20px;
    }
}




@media screen and (max-width: 450px){
    .contact-form h2{
        text-align: left;
        margin-top: 40px;
        color: rgb(255, 136, 0);
        font-size: 30px;
    }
    .contact-form p{
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        line-height: 25px;
    }
    .contact-form form{
        text-align: left;
        padding: 30px;
    }
    .contact-form form label{
        cursor: pointer;
        font-weight: bold;
        font-size: 17px;
    }
    .contact-form form input{
        font-size: 15px;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px 15px;
        border: 2px solid rgb(255, 136, 0);
        margin-bottom: 15px;
    }
    .contact-form form textarea{
        border-radius: 5px;
        margin-top: 10px;
        padding: 15px 25px;
        border: 2px solid rgb(255, 136, 0);
        margin-bottom: 15px;
        width: 60%;
        height: 20vh;
    }
    .contact-form form button{
        padding: 7px 12px;
        border: none;
        background-color: rgb(255, 136, 0);
        border-radius: 30px;
        font-size: 17px;
        color: white;
        transition: .3s ease;
    }
    .contact-form form button:hover{
        padding: 10px 14px;
        box-shadow: 2px 3px 5px grey;
    }
    #copyright{
        color: grey;
    }
}